
.change-password {
  display: inline-flex;
  font-family: Courier;
}

.sign-in {
  display: inline-flex;
  font-family: Courier;
}

.sign-up {
  display: inline-flex;
  font-family: Courier;
}

.sign-out {
  display: inline-flex;
  font-family: Courier;
}

.auth-container {
  // puts input forms directly underneath eachother
  display: inline-block;
  font-family: Courier;
}
