
.change-password {
  display: inline-flex;
  font-family: Courier;
}

#create-mannequin, #delete-mannequin, #show, #update-mannequin {
  font-family: Courier;
}

p {
  font-family: Courier;
  font-weight: bold;
}

.sign-in, .sign-up, .sign-out  {
  display: inline-flex;
  font-family: Courier;
}

.auth-container {
  // puts input forms directly underneath eachother
  display: inline-block;
  font-family: Courier;
}
